html, body {
    margin: 0px;
    height: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

.green {
    background-color: #0f0;
}

#colliderapp {
    width: 100%;
    min-height: 500px;
    height: 500px;
}

#toolbox {
    float: left;
    width: 200px;
    /*min-height: 100%;*/
    font-size: 12px;
    padding: 5px;
}

#toolbox .textbox {
    width: 60px;
    height: 25px;
}

/*#toolbox .combo {
    width: 180px !important;
}*/

#toolbox button {
    width: 190px;
    height: 25px;
}

#toolbox .text {
    width: 60px !important;
}

#canvas_container {
    /*background-color: #000000;*/
    float: left;
    width: 1000px;
    min-height: 600px;
}

#renderer_window {
    background-color: #000000;
    padding: 0px !important;
}