html, body {
	margin: 0px;
	height: 100%;
	min-height: 100%;
}

#colliderapp {
	width: 100%;
	min-height: 600px;
	height: 600px;
}

	#toolbox {
		float: left;
		width: 200px;
		/*min-height: 100%;*/
		font-size: 12px;
		padding: 5px;
	}

		#toolbox .k-textbox {
			width: 60px;
			height: 25px;
		}

		#toolbox button {
			width: 190px;
			height: 25px;
		}

		#toolbox .text {
			width: 60px !important;
		}

	#canvas_container {
		float: left;
		width : 600px;
		min-height: 600px;
	}